$main: #262c7c;
$second: #bec1e0;
$third: #ffffff;
$vectors: #eb0065;
$bg: #f2f3f7;

.dashboard {
  background: $bg;
}
.dashboard .col-4 {
  padding-right: 0 !important;
}
.dashboard .col-8 {
  padding-left: 0 !important;
}
