$main: #262c7c;
$second: #bec1e0;
$third: #ffffff;
$vectors: #eb0065;
$bg: #f2f3f7;
.Countries .result-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1.5rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: $bg;
  padding: 0.5rem;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border-radius: 5px;
}
.Countries .result-card.global {
  color: $main;
  background: #ffff;
  border: 1px solid $main;
}
.Countries .result-card .flag {
  width: 12%;
}
.Countries .result-card .flag img {
  width: 100%;
  border-radius: 10px;
}
.Countries .result-card .countary {
  color: #2d2e39;
  font-weight: 500;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 0.5rem;
}
.Countries .result-card .result {
  color: #6468a1;
}
.line {
  border-color: #dadbe7;
  border-width: 2px;
}
.Countries .result-card.global .countary {
  color: $main;
  font-weight: 640;
}
.Countries.result-card.global .result {
  color: $main;
}
