#conatct{
    position: fixed;
    top: 50%;
    margin-left:10px;
    left:-35px;
    z-index: 10000;

    color: #262C7C;
    transition: all 0.5s linear;
}
#conatct ul{
    margin-left:0px;
    display: flex;
    flex-direction: column;
}
#conatct ul li{
    margin-left:0px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    opacity: 0.2;
}
#conatct ul li:hover{
    opacity: 1;
    transform: scale(2) translatex(10px);
    transition: all 0.5s ease;
}
@media (min-width: 481px)and(max-width:768px) { 
    #conatct{
        display: none;
    }
  }
  //Mobile devices
  @media (min-width: 320)and(max-width:480px) { 
    *{
      color:rgb(255, 0, 234) !important
    }
  
  }
  