.SeaechRegion{
    background:#fff;
    font-size:1rem ;
    padding: 0.5rem;
    border: 1px solid #B8BACC;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
}
.SeaechRegion:hover{
    border: 1px solid #262C7C;
}
.SeaechRegion:focus{
    border: 1px solid #262C7C;
}
.SeaechRegion .search{
    outline: none !important;
    border: none;
    width: 100%;
   
    text-align: left;
}
.SeaechRegion .search:focus{
    border: 1px solid #262C7C;
}
.SeaechRegion  .search-icon{
    background: #F2F3F7;
    border-radius: 50%;
    width: 30px;
    color: #878AA1;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.close{
    z-index: 6;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 10%;
    right: 10%;
    color: #000;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2) !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
