.SeaechRegion{
    background:#fff;
    font-size:1rem ;
    padding: 0.5rem;
    border: 1px solid #B8BACC;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
}
.SeaechRegion:hover{
    border: 1px solid #262C7C;
}
.SeaechRegion:focus{
    border: 1px solid #262C7C;
}
.SeaechRegion .search{
    outline: none !important;
    border: none;
    width: 100%;
   
    text-align: left;
}
.SeaechRegion .search:focus{
    border: 1px solid #262C7C;
}
.SeaechRegion  .search-icon{
    background: #F2F3F7;
    border-radius: 50%;
    width: 40px;
    color: #878AA1;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.close{
    z-index: 6;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 10%;
    right: 10%;
    color: #000;
    -webkit-box-shadow:0 4px 8px rgba(0, 0, 0, 0.2) !important;
            box-shadow:0 4px 8px rgba(0, 0, 0, 0.2) !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
}